.btn {
    display: flex;
}

.btn-primary {
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    background-color: #2a2b2d;
    border: 2px solid #2a2b2d;
    cursor: pointer;
}

.dashboardContainer {
    display: flex;
    height: 100%;
    width: 100%;
}

.sidebarContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5%;
    width: 20vw;
    height: 100%;
}

.todoContentContainer {
    display: flex;
    width: 80vw;
    height: 100%;
}

.paper {
    background-color: white;
    overflow: auto;
    padding: 5%;
    margin: 5%;
    width: 100%;
}