.taskCard {
    background-color: antiquewhite;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dialogContent {
    display: flex;
    justify-content: start;
    padding: 10px;
    height: 400px;
    width: 500px;
}

.actions {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.formContainer {
    display: flex;
    flex-direction: column;
}

.formContainer input {
    margin-left: 8px;
}